.customer
  margin: 0 20px 80px 20px
  &__container
    display: grid
    grid-template-columns: 4rem 1fr
    grid-auto-rows: repeat(3, auto)
    align-items: center
    &--check
      color: white
      height: 25px
      width: 25px
      padding: 10px
      border-radius: 15px
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
    &--bgc-orange
      background-color: #ff9900
    &--bgc-red
      background-color: #f03e3d
    &--bgc-blue
      background-color: #4d8dff
  @include media(tablet)
    &__content
      @include displayflexrow
      & img
        height: 250px
