.marketing
    margin: 0 20px 80px 20px
    text-align: center    
    &__container
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
        border-radius: 10px
        background-color: $blue-primary
        color: $white-primary
        & h2
            padding: 15px 15px 25px 15px       
        & img
            object-fit: cover
            height: 240px
            margin: 25px 15px 15px 0