a
  text-decoration: none
.Logo
  display: flex
  flex-direction: row
  align-items: center  
  & img  
    margin-right: 10px
    height: 25px
  & p
    font-weight: 800
    font-size: 20px
    color: $black-primary
