.pricing
  text-align: center
  margin-bottom: 80px
  &__carrousel
    &--cards
      display: flex
      justify-content: space-evenly
      overflow-x: scroll
      overscroll-behavior-x: contain
      scroll-snap-type: x mandatory
      align-items: center
      height: 450px
      gap: 10px
      padding: 0 10px

