.footer
    margin: 0 20px 30px 20px
    text-align: center    
    &__lists
        list-style: none
        padding: 0
        line-height: 1.6
        & a
            text-decoration: none
            color: $black-primary
    &__logo
        margin: 50px 0
    &__email
        & input
            padding-left: 0.62rem
            border: 1px solid #BCD0E5
            border-radius: 5px
            margin-bottom: 20px
            height: 35px
            width: 240px